<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <title>New Show</title>
  </head>
  <body class="bg-light">
    {% load static %}
    <div class="container text-dark">
      <h1 class="mt-5">Edit Show {{show.id}}</h1>
      <a class="fs-4" href="/shows">Go Back</a>
      {% if messages %}
      <ul class="messages">
        {%for message in messages%}
          <li {% if message.tags %} class="{{message.tags}}"{% endif %}>{{message}}</li>
        {%endfor%}
      </ul>
      {% endif%}
      <form action='/shows/{{show.id}}/update' method="post">
        {%csrf_token%}
        <div class="fw-bold form-group my-2">
          <label for="">Title</label>
          <input type="text" class="form-control" name="tit" aria-describedby="emailHelp" placeholder="{{show.title}}">
        </div>
        <div class="row">
          <div class="fw-bold col form-group my-2">
            <label for="">Network</label>
            <select name="net"  class="form-select" aria-label="Default select example">
              <option selected>{{show.network.name}}</option>
              {% for network in nets %}
              <option value="{{network.id}}">{{network.name}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="fw-bold col form-group my-2">
            <label for="">Release date</label>
            <input type="date" class="form-control" name="reldate" aria-describedby="emailHelp" placeholder="{{show.rel_date}}">
          </div>
        </div>
        <div class="fw-bold form-group my-2">
          <label for="">Description</label>
          <input type="text" class="form-control" name="des" aria-describedby="emailHelp" placeholder="{{show.description}}">
        </div>
        <input type="submit" class="btn btn-primary my-3" value="Update">
      </form>
    </div>
    <script src="{% static 'js/index.js' %}"></script>
  </body>
</html>