<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"></script>
    <title>New Show</title>
  </head>
  <body class="bg-light">
    {% load static %}
    <div class="container text-dark">
      <h1 class="mt-5">Add a New Show</h1>
      <a class="mb-5 fs-4" href="/shows">Go Back</a>
      {% if messages %}
      <ul class="messages list-unstyled">
        {%for message in messages%}
          <li {% if message.tags %} class="{{message.tags}}"{% endif %}>{{message}}</li>
        {%endfor%}
      </ul>
      {% endif%}
      <form action='/shows/create' method="post">
        {%csrf_token%}
        <div class="fw-bold form-group my-2">
          <label for="">Title</label>
          <input type="text" class="form-control" name="tit" aria-describedby="emailHelp" placeholder="Title name">
        </div>
        <div class="row">
          <div class="fw-bold col form-group my-2">
            <label for="network">Network</label>
            <select name="net" id="net" class="form-select" aria-label="Default select example">
              <option selected>Select</option>
              {% for network in networks %}
              <option value="{{network.id}}">{{network.name}}</option>
              {% endfor %}
              <option value="other">Other</option>
            </select>
            <input class='d-none form-control' type="text" name="newnetwork" id="newnetwork" placeholder="Create new network">
          </div>
          <div class="fw-bold col form-group my-2">
            <label for="">Release date</label>
            <input type="date" class="form-control" name="reldate" aria-describedby="emailHelp" placeholder="Date">
          </div>
        </div>
        <div class="fw-bold form-group my-2">
          <label for="">Description</label>
          <input type="text" class="form-control" name="des" aria-describedby="emailHelp" placeholder="Description">
        </div>
        <input type="submit" class="btn btn-primary my-3" value="Add">
      </form>
    </div>
    <script>
      $('#net').on('change', function(){
        if($(this).val = "other"){
          $('#newnetwork').removeClass('d-none');
        }
        else{
          $('#newnetwork').addClass('d-none');
        }
      });
    </script>
    <script src="{% static 'js/index.js' %}">
    </script>
  </body>
</html>