<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <title>Login</title>
  </head>
  <body class="bg-dark">
    {% load static %}
    <div class="container text-light">
      <h1 class="text-center mt-5">Register | Login</h1>
      {% if messages %}
      <ul class="messages list-unstyled">
        {%for message in messages%}
          <li {% if message.tags %} class="{{message.tags}}"{% endif %}>{{message}}</li>
        {%endfor%}
      </ul>
      {% endif%}
      <div class="row">
        <form class="col" action='/register' method="post">
          {%csrf_token%}
          <div class="fw-bold form-group my-2">
            <label for="">Name</label>
            <input type="text" class="form-control" name="name" placeholder="Your Name">
          </div>
          <div class="fw-bold form-group my-2">
            <label for="">Email</label>
            <input type="email" class="form-control" name="email" placeholder="Your Email">
          </div>
          <div class="fw-bold form-group my-2">
            <label for="">Password</label>
            <input type="password" class="form-control" name="password" placeholder="">
          </div>
          <div class="fw-bold form-group my-2">
            <label for="">Confirm your Password</label>
            <input type="password" class="form-control" name="password_confirm" placeholder="">
          </div>
          <input type="submit" class="btn btn-primary my-3" value="Register Now">
        </form>
        <form class="col" action='/register/login' method="post">
          {%csrf_token%}
          <div class="fw-bold form-group my-2">
            <label for="">Email</label>
            <input type="email" class="form-control" name="email" placeholder="Your Email">
          </div>
          <div class="fw-bold form-group my-2">
            <label for="">Password</label>
            <input type="password" class="form-control" name="password" placeholder="">
          </div>
          <input type="submit" class="btn btn-primary my-3" value="Login">
        </form>
      </div>
    </div>
    <script src="{% static 'js/index.js' %}">
    </script>
    <script>
      {%if messages%}
        {%for message in messages%}
          toastr.success('{{message}}')
        {%endfor%}
      {%endif%}  
    </script>
  </body>
</html>